.container-item-detail {
    display: flex;
    justify-content: center;
}

.producto-detallado {
    height: 450px;
    width: 50%;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;

    .producto-img-detail {
        height: 400px;
        width: auto;
        border-radius: 15px;
    }


    .producto-detalles {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
}
  